@import "../../styles/variables.css";


.gamePublishForm__wrapper {
    display: grid;
    grid-gap: 30px;
}

@media (min-width: 1000px) {
    .gamePublishForm__wrapper {
        grid-template-columns: 3fr 2fr;
    }
}

.gamePublishForm__column {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.gamePublishForm__field {
    display: flex;
    gap: 10px;
    flex-flow: column nowrap;
}

@media (min-width: 1000px) {
    .gamePublishForm__field_checkpoints {
        grid-column: 1 / span 2;
    }
}

.gamePublishForm__label {    
    font-family: var(--subtitletle-font-family);
    font-weight: var(--subtitletle-font-weight);
}



.gamePublishForm__caption {
    text-align: justify;
    color: grey;
}



