@import "../styles/variables.css";

.block {
    box-sizing: border-box;
    padding: var(--block-padding);
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: var(--block-border-radius);
}
