@import "../styles/variables.css";

.competencies {
    width: 100%;
    height: fit-content;
}

.titleContainer {
    box-sizing: border-box;
    width: 100%;
}

.title {
    margin: 0;
    text-align: center;
}

.competenciesContainer {
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    gap: 5px;
    width: 100%;
    overflow-y: scroll;
    max-height: 120px;
}

