
:root {
    --avatar-size: 28px;
    --avatar-border-radius: 50%;
    --exit-text-color: #CA1701;
    --signInButton-background-color: #84DCC6 !important;
    --signInButton-color: black;
    --signUpButton-background-color: var(--header-color) !important;
    --menuIcon-color: white;
    --login-font-size: initial;
}

@import "../styles/variables.css";

.blockHeader {
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: var(--header-height);
    flex-wrap: wrap;
    /* padding-top: 30px;
    padding-bottom: 42px; */
    /* box-shadow: var(--header-box-shadow); */
}

@media (max-width: 1440px) {
    .logoContainer{   
        margin-right: 30px;
    }

    .blockHeader {
        display: flex;
        justify-content: normal;
        
    }



}



.spacer {
    width: 100%;
    height: var(--header-height);
}

/* .test{
    margin: 0px 20px 0px 20px;
    width: 82px;
    
} */

.test{
    margin-left: 20px;
    margin-right: 20px;
}

.logoContainer {
    /* flex-grow: 2; */
    padding-left: 70px;

}

.developerButton{
    border-radius: 8px;
    margin-right: 10px;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size); 
}


.logo {
    margin-left: 15px;
    margin-right: auto;
    font-family: var(--logo-font-family);
    font-size: var(--logo-font-size);
    font-weight: bold;
    text-decoration: none;
    /* color: var(--logo-color); */
}
.leftSideLogo{
    margin-left: 15px;
    margin-right: 6px;
    font-family: var(--logo-font-family);
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
    text-decoration: none;
    color: var(--main-color);
}

.rightSideLogo{    
    margin-right: auto;
    font-family: var(--logo-font-family);
    font-size: 32px;
    line-height: 44px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
.userContainer {
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 50px;
    transition: background 200ms linear;
}

.userContainer:hover {
    cursor: pointer;
    /* background-color: #FAFAFA; */
}

.login {
    font-size: var(--login-font-size);
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.avatar {
    margin-right: 8px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: var(--avatar-border-radius);
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.menu {
    width: fit-content;
    height: fit-content;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.menuIcon {
    display: block;
    transform-origin: center;
    transition: 100ms linear !important;
    color: var(--menuIcon-color);
}

.popupButton{
    margin-right: 8px;
    margin-left: 8px;
}


.menuButton {
    margin-right: 90px;
    margin-left: 8px;
}


.userContainer:hover .menuIcon {
    transform: scale(1.5, 1.5);
}

.exitText {
    font-weight: 500;
    color: var(--exit-text-color);
}

.menuListContainer {
    background-color: white;
}

.authButtonsContainer {
    margin-right: 15px;
}

.signInLink, .signUpLink {
    text-decoration: none;
    font-weight: bold;
}

.signInLink {
    margin-right: 15px;
}

.signUpLink {
    color: rgb(110, 11, 11);
}

.signUpLink:hover {
    text-decoration: underline;
}

/* .search{
    

    
}

.searchForm{
    
} */



.searchInput{
    /* width: 487px; */
    max-height: 34px;
    background-color: #F2F2F2;
    color: #797979;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size); 
    border: 2px solid rgba(242, 242, 242, 1); 
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    /* flex-grow: 30; */
    text-transform: none;
    white-space: nowrap;
    width: 30vw;
    
    outline:none;
}

.searchInput:active{ 
    color: #F2F2F2;
  }
/* .searchInput{
    width: ;
} */

.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
}