@import "../styles/variables.css";


.main {
    text-transform: none;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgba(4, 99, 234, 1);
    max-height: 34px;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    margin: 0 20px 0 20px;

    /* margin: 20px 50px 20px 20px; */
    
}    
.main:hover:not(.disabled) {
  cursor: pointer;
  background-color: #4D96FF;
  border-color: #4D96FF;
}

.main:active{ 
  color: #0463EA;
}

.btntext{  
  padding: 6px 16px;  

}

.btnlink{
  color: rgb(0, 0, 0);
  text-decoration: none;

}


/* .btn{
    text-transform: none;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgba(4, 99, 234, 1);
    width: 200px;
    height:  34px;
} */
