.container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
}

.sendButton {
    margin-left: 10px;
}

.buttonsContainer {
    margin: 20px 0 20px 0;
}


.searchInput{
    /* width: 487px; */
    max-height: 34px;
    background-color: #F2F2F2;
    color: #797979;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size); 
    border: 2px solid rgba(242, 242, 242, 1); 
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
    /* flex-grow: 30; */
    text-transform: none;
    white-space: nowrap;
    width: 30vw;
    
    outline:none;
}

.searchInput:active{ 
    color: #F2F2F2;
  }