.Regmenu {
    
    margin-left: 700px;
    margin-right: 400px;
    height: 220px;
    width: 300px;
    align-content: center;
    text-align: center;
    padding-top: 200px;
    right: 500px;
    background-color: rgb(233, 233, 233);    
}
.Container {
    position: relative;
	min-width: 600px;
	min-height: 400px;
    max-width: 600px;
    max-height: 400px;
    display: block;    
    border: 2px solid black;
    background: rgb(233, 233, 233);
    margin: 100px auto 0;
}

.Button {
    position: relative;
    top: 20px;
    display: block;
    text-align: center;
    margin: auto;
}