:root {
    --header-height: 45px;
    --header-color: #4B4E6D;
    --header-box-shadow: 0 2px 2px 0px #bfbfbf;
    --logo-color: white;
    --logo-font-family: "Roboto", sans-serif;
    --logo-font-size: 30px;
    --block-box-shadow: 0 0 10px -5px black;
    --block-color: white;
    --block-padding: 10px;
    --block-spacing: 10px;
    --block-border-radius: 5px;
}
