:root {
}

.textCaption {
    font-size: 18px;
    font-weight: 700;
}

.container {
    margin: 0 auto;
    width: 1250px;
    background: white;
    position: relative;
    top: -9px;
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-areas:
        "cover name"
        "description description"
        "members files"
        "upload upload";
    grid-template-columns: auto 1fr;
    padding-bottom: 20px;
}

.cover {
    grid-area: "cover";
    width: 560px;
    height: 350px;
    margin-top: 50px;
    margin-left: 125px;
}

.cover__content {
    margin-top: 5px;
    height: 315px;
    border-radius: 5px;
    border: 2px solid #95a3b3;
}

.cover__image {
    width: 100%;
    height: 100%;
}

.info {
    grid-area: "name";
    height: 100px;
    width: 390px;
    margin-top: 50px;
    margin-right: 125px;
}

.info__name__form {
    margin-top: 5px;
    height: 46px;
    border: 2px solid #95a3b3;
    box-sizing: border-box;
    border-radius: 5px;
}

.competencies {
    margin-top: 40px;
}

.competencies__search {
    margin-top: 5px;
    height: 203px;
    border: 2px solid #95a3b3;
    box-sizing: border-box;
    border-radius: 5px;
}

.competencies__search__field {
    border: 2px solid #95a3b3;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.description {
    grid-area: "description";
    margin-left: 125px;
    grid-column: 1 / 3;
    width: 1000px;
}

.description__input {
    margin-top: 5px;
    height: 214px;
    border: 2px solid #95a3b3;
    box-sizing: border-box;
    border-radius: 5px;
}

.members {
    margin-left: 125px;
    grid-area: 'members';
}

.members__list {
    margin-top: 5px;
    width: 475px;
    height: 290px;
    border: 2px solid #95a3b3;
    box-sizing: border-box;
    border-radius: 5px;
}

.files {
    grid-area: 'files';
    margin-left: -85px;
}

.files__list {
    margin-top: 5px;
    width: 475px;
    height: 290px;
    border: 2px solid #95a3b3;
    box-sizing: border-box;
    border-radius: 5px;
}

.files__list__item {
    display: flex;
    margin: 0 7px;
}

.file__list__button {
    font: var(--main-font-family);
}

.files__item__name {
    width: 291px;
    height: 30px;
    border: 2px solid #95a3b3;
    box-sizing: border-box;
    border-radius: 5px;
}

.upload {
    margin-left: 125px;
    grid-column: 1 / 3;
    grid-area: 'upload';
}

.upload__button {
    z-index: 100;
    width: 1000px;
    height: 45px;
    border: none;
    border-radius: 5px;
}

.inputForm {
    width: 100%;
    height: 100%;
}

.uploadForm {
    display: none;
}

.choosenFile {

}
