.allbar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.mainmenu {
    min-height: 95vh;
    width: 100%;
    flex: 1 1 auto;
    margin: 0 2em auto auto;
    display: flex;
    flex-direction: row;    
}
.tags {
    flex-grow: 1;
    min-width: 265px;
    max-width: 265px;
    margin: 1em 2em auto 24px;
}
.menu {
    flex-grow: 10;    
    background-color: rgb(255, 255, 255);    
    border: 2px solid rgb(207, 207, 207);
    
    
}
.menuButton{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.recommend {
    flex-grow: 10;    
    background-color: rgb(255, 255, 255);    
    margin-top: 20px;    
    display: flex;
}
.allgame {
    flex-grow: 10;    
    background-color: rgb(255, 255, 255);    
    margin-top: 20px;    
    display: flex;
    text-align:start;
    flex-wrap: wrap;    
}
