@import "../styles/variables.css";

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.games {
    background-color: white;
    height: calc(100vh - var(--header-height))
}

.gamesWrapper {
    padding: 20px;
}

.showAll {
    color: black;
}

.captionWrapper {
    display: flex;
    justify-content: space-between;
}

.gamesGrid {
    flex-grow: 5;
    background-color: rgb(255, 255, 255);    
    display: flex;
    text-align:start;
    flex-wrap: wrap;    
}
