:root {
    --captions-font: "Roboto" sans-serif;
}

body {
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    max-width: 1000px;
    padding-top: 45px;
    margin: 0 auto;
}

.content {
    display: grid;
    row-gap: 20px;
    box-shadow: 0 0 10px -4px black;
    background-color: white;
    padding: 40px 60px 200px 60px;
}

.topBlock {
    display: flex;
    flex-flow: row wrap;
}

.caption {
    color: grey;
}

.cover {
    flex: 2;
}

.cover img {
    display: block;
    width: 100%;
}

.gameData {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 350px;
    margin-left: 20px;
}

.competencies *:nth-child(n) {
    margin-right: 3px;
}

.ratingContainer {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.ratingCaption {
    margin-left: 10px;
}

.gameButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 70px;
    gap: 10px;
    margin-top: auto;
}

.playButtonLink {
    text-decoration: none;
}

.playButton {
    width: 100%;
    background-color: green !important;
}

.settingsButtonLink {
    text-decoration: none;
}

.settingsButton {
    width: 100%;
    background-color: blue !important;
}

.blockCaption {
    font-family: var(--captions-font);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.descriptionContainer {
}

.description {
    color: #403E3F;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.name {
    line-height: 20px;
    order: -1;
    font-family: "Roboto" sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

@media (max-width: 1000px) {
    .header .logo {
        margin-left: 15px;
        font-family: "Roboto" sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    .content {
        padding: 0;
        padding-bottom: 200px;
    }
    .topBlock {
        flex-direction: column;
    }
    .gameData {
        margin: 0;
        margin-top: 20px;
        flex-basis: initial;
    }
    .ratingContainer { 
        flex-direction: row-reverse;
        position: absolute;
        right: 18px;
        margin: 0;
    }
    .gameButtonsContainer {
        display: none;
        margin-top: 20px;
    }
    .middle {
        padding: 20px;
    }
}

