.allbar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.logotip {
    flex-grow: 1;
    align-content: center;
}
.infbutton {
    flex-grow: 6;
    align-content: center;
}
.regbutton{
    flex-grow: 1;
    text-align: end;
    align-content: center;
}
.regbutton1{          
    margin: 10px;   
    font-size: 15px;
    padding: 8px 32px;
    font-weight: 600;
    background-color: #18A0FB;
    color: #ffffff;
    border: 2px solid #18A0FB;
}
.regbutton2{        
    font-size: 15px;
    padding: 8px 32px;
    font-weight: 600;
}
.container {
    position: relative;
	min-width: 600px;
    max-width: 600px;
	min-height: 400px;
    max-height: 400px;
    display: block;
    border: 2px solid black;
    background: rgb(233, 233, 233);
    margin: 100px auto 0;
}
.button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}