@import "../styles/variables.css";

.wrapper {
    height: calc(100vh - var(--header-height)); 
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.gameContainer {
    width: 100%;
    height: 100%;
}

.gameFrame {
    width: 100%;
    height: 100%;
}

.back {
    text-decoration: none;
}
