.allCard {
    display: flex;
    margin-right: 0;
    flex-grow: 1;

}
.text {    
    
    background-color: rgba(0, 0, 0, 0.616);
    height: 58px;   
    width: 180px;
    color: white;
    flex-grow: 10;
    margin-left: 10px;
    
}

.ratingIcon {
    float: left;
}
.rating {
    float: right;
}
.empty {
    height: 160px;
    width: 150px;
}

.allImage {
    background-image: url(../components/images/GameImg.jpg);
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    padding: 8px;    
    
}
element.style {
    width: 100px;
}
.image{
    width: 200px;
    height: 220px;
    position: relative;
    padding: 10px;
    margin-right: 20px; 
    align-content: center;    
}
.content{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;    
}