.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signUpForm {
    /* background-color: rgb(216, 216, 216); */
    width: 400px;
    max-width: 100%;
    align-content: center;
    text-align: center;
    /* border: 2px solid rgb(224, 224, 224); */
}

.signUpFormBody {
    padding: 10px;
}

.field {
    width: 100%;  
    /* border-bottom: none;   */
}

.fieldsContainer {
    display: grid;
    grid-row-gap: 24px;
    width: 395px;
   
}

/* .title {
    border-bottom: 2px solid rgb(224, 224, 224);
} */

.registerButton {
    width: 100%;
    margin-top: 10px !important;
}

.bar {
    align-content: center;
    text-align: center;
    position: relative;
    width: 100%;
}

.alert {
    margin-top: 20px;
}

.title {
    align-content: center;
    text-align: center;
}
