.avatarImage {
    width: 50px;
    height: 50px;
}

.personInfoLabel {
    padding: 5px;
}

.avatarContainer {
    width: 80px;
    display: table-row;
}

.avatar {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px;
}

.infoContainer {
    width: 100%;
}

.info {
    margin-left: 30px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.cContainer {
    width: 50%;
    max-height: fit-content;
    min-height: 60px;
    margin: 10px;
    flex: 0 0 47%;
}

.createdAndCompetenceTable {
    width: 100%;
}

.cWrapper {
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    gap: 5px;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: calc(100vh - 320px - 80px);
}

.cWrapper::-webkit-scrollbar {
    display: none;
}

.cRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    min-width: 100%;
}

.cTitle {
    margin: 0;
    text-align: center;
}

.deleteButtonWrapper {
    display: flex;
    justify-content: flex-end;
    color: red;
}