:root {
    --block-caption-color: black;
    --caption-color: grey;
    --caption-font-size: 30px;
    --caption-font: "Roboto" sans-serif;
    --description-color: #403E3F;
    --name-font-family: "Roboto", sans-serif;
    --paper-box-shadow: 0 0 10px -4px black;
    --paper-width: 1000px;
    --playButton-color: green;
    --settingsButton-color: blue;
    --wrapper-max-width: 1000px;
}

@import "../styles/variables.css";

.avatarImage {
    width: 50px;
    height: 50px;
}