:root {
    --content-background-color: #ffc8c8;
    --errorCode-font-size: 200px;
}

@import "../../styles/variables.css";

.content {
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--content-background-color);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.errorCode, .errorMessage {
    margin: 0;
}

.errorCode {
    font-size: var(--errorCode-font-size);
    font-weight: bold;
}

.goToMain {
    text-decoration: none;
}
